@{
    Layout = "_Layout";
}

@section header {
    <h1>Explore our world your way</h1>
    <a href="/tours.htm" title="Find your tour!">
        <h2>Find your tour</h2>
    </a>
}

<h1>Explorer's Blog</h1>
<p>Here are a few of the latest posts from some of our explorers.</p>
<div class="blog-posts">TODO: Blog posts will go here!</div>